*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
.home{
	background-color: rgb(152, 176, 99);
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem;
	/* background-color: red; */
}
.search input{
	margin-top: 5rem;
	height: 4vh;
	width: 20vw;
	border-radius: .7rem;
	font-size: 1.2rem;
	background-color: rgb(241, 237, 231);

}

input:focus{
	outline: none;
}
.icon-search{
	margin-left:0.4rem;
	margin-top: 5.1rem;
	position: absolute;
	font-size: 2rem;
}
.buttons{
	/* background-color: blue; */
	margin: 1rem;
}

.buttons button{
	height: 5vh;
	width: 10vw;
	margin-left: 5rem;
	margin-right: 5rem;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 1rem;
	border: none;
	background-color: rgb(218, 207, 193);
	cursor: pointer;
}

.insertItem{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 4rem;
	border: solid black 5px;
	width: 70vw;
	height: 45vh;
	background-color: rgb(218, 207, 193);

}

.insertItem p{
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.insertItem input{
	position: absolute;
	left:22%;
	height: 4vh;
	width: 15vw;
	border-radius: .7rem;
	font-size: 1.2rem;
	background-color: rgb(241, 237, 231);
}
.insertItem button{
	position: absolute;
	left:24%;
	top: 80%;
	height: 4vh;
	width: 10vw;
	border-radius: .7rem;
	font-size: 1.2rem;
	background-color: rgb(78, 200, 117);
	cursor: pointer;
}

.image{
	position: absolute;
	left: 50%;
}

.close{
	position: absolute;
	left: 79%;
	top: 51%;
	font-size: 4rem;
	cursor: pointer;
}

.searchItem{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 4rem;
	border: solid black 5px;
	width: 70vw;
	height: 50vh;
	background-color: rgb(218, 207, 193);
}
.searchItem p{
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.searchItem input{
	position: absolute;
	left:22%;
	height: 2vh;
	width: 15vw;
	border: none;
	background-color: rgb(218, 207, 193);
	font-size: 1.2rem;
	font-weight: bold;
}

.searchImage{
	position: absolute;
	left: 50%;
}

.deleteButton{
	width: 1.5vw;
	height: 3vh;
	margin-left: 1rem;
	border-radius: 20px;
	cursor: pointer;
}

.deleteButton.clicked{
	background-color: red;
}

.selectDelete{
	height: 5vh;
	width: 12vw;
	padding: .3rem;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 1rem;
	border: none;
	background-color: rgb(215, 104, 84);
	cursor: pointer;
}
